<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ctide.pet.Dao.AdMapper" >
  <resultMap id="BaseResultMap" type="cn.ctide.pet.Model.Ad" >
    <id column="ad_id" property="adId" jdbcType="INTEGER" />
    <result column="p_id" property="pId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP" />
    <result column="ad_img" property="adImg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ad_id, p_id, title, score, apply_time, ad_img
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ad
    where ad_id = #{adId,jdbcType=INTEGER}
  </select>
    <select id="getLatestAd" resultMap="BaseResultMap">
      SELECT
      <include refid="Base_Column_List"/>
      FROM ad
      ORDER BY apply_time DESC, score DESC limit 0,3
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ad
    where ad_id = #{adId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.ctide.pet.Model.Ad" >
    insert into ad (ad_id, p_id, title, 
      score, apply_time, ad_img
      )
    values (#{adId,jdbcType=INTEGER}, #{pId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{score,jdbcType=INTEGER}, #{applyTime,jdbcType=TIMESTAMP}, #{adImg,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.ctide.pet.Model.Ad" >
    insert into ad
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adId != null" >
        ad_id,
      </if>
      <if test="pId != null" >
        p_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="applyTime != null" >
        apply_time,
      </if>
      <if test="adImg != null" >
        ad_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adId != null" >
        #{adId,jdbcType=INTEGER},
      </if>
      <if test="pId != null" >
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="applyTime != null" >
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="adImg != null" >
        #{adImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ctide.pet.Model.Ad" >
    update ad
    <set >
      <if test="pId != null" >
        p_id = #{pId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="applyTime != null" >
        apply_time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="adImg != null" >
        ad_img = #{adImg,jdbcType=VARCHAR},
      </if>
    </set>
    where ad_id = #{adId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ctide.pet.Model.Ad" >
    update ad
    set p_id = #{pId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      apply_time = #{applyTime,jdbcType=TIMESTAMP},
      ad_img = #{adImg,jdbcType=VARCHAR}
    where ad_id = #{adId,jdbcType=INTEGER}
  </update>
</mapper>