<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ctide.pet.Dao.PostResourcesMapper" >
  <resultMap id="BaseResultMap" type="cn.ctide.pet.Model.PostResources" >
    <id column="res_id" property="resId" jdbcType="INTEGER" />
    <result column="p_id" property="pId" jdbcType="INTEGER" />
    <result column="res_img" property="resImg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    res_id, p_id, res_img
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from post_resources
    where res_id = #{resId,jdbcType=INTEGER}
  </select>
    <select id="getByPId" resultMap="BaseResultMap">
      SELECT
      <include refid="Base_Column_List"/>
      FROM
      post_resources
      WHERE p_id=#{pId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from post_resources
    where res_id = #{resId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.ctide.pet.Model.PostResources" >
    insert into post_resources (res_id, p_id, res_img
      )
    values (#{resId,jdbcType=INTEGER}, #{pId,jdbcType=INTEGER}, #{resImg,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.ctide.pet.Model.PostResources" >
    insert into post_resources
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resId != null" >
        res_id,
      </if>
      <if test="pId != null" >
        p_id,
      </if>
      <if test="resImg != null" >
        res_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resId != null" >
        #{resId,jdbcType=INTEGER},
      </if>
      <if test="pId != null" >
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="resImg != null" >
        #{resImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ctide.pet.Model.PostResources" >
    update post_resources
    <set >
      <if test="pId != null" >
        p_id = #{pId,jdbcType=INTEGER},
      </if>
      <if test="resImg != null" >
        res_img = #{resImg,jdbcType=VARCHAR},
      </if>
    </set>
    where res_id = #{resId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ctide.pet.Model.PostResources" >
    update post_resources
    set p_id = #{pId,jdbcType=INTEGER},
      res_img = #{resImg,jdbcType=VARCHAR}
    where res_id = #{resId,jdbcType=INTEGER}
  </update>
</mapper>