<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ctide.pet.Dao.PostMapper" >
  <resultMap id="BaseResultMap" type="cn.ctide.pet.Model.Post" >
    <id column="p_id" property="pId" jdbcType="INTEGER" />
    <result column="pc_id" property="pcId" jdbcType="INTEGER" />
    <result column="m_id" property="mId" jdbcType="INTEGER" />
    <result column="p_title" property="pTitle" jdbcType="VARCHAR" />
    <result column="p_content" property="pContent" jdbcType="VARCHAR" />
    <result column="p_time" property="pTime" jdbcType="TIMESTAMP" />
    <result column="bar_id" property="barId" jdbcType="INTEGER" />
    <result column="is_top" property="isTop" jdbcType="TINYINT"/>
  </resultMap>
  <resultMap id="hotMap" type="HashMap" >
    <id column="p_id" property="pId" jdbcType="INTEGER" />
    <result column="pc_id" property="pcId" jdbcType="INTEGER" />
    <result column="m_id" property="mId" jdbcType="INTEGER" />
    <result column="p_title" property="pTitle" jdbcType="VARCHAR" />
    <result column="p_content" property="pContent" jdbcType="VARCHAR" />
    <result column="p_time" property="pTime" jdbcType="TIMESTAMP" />
    <result column="m_name" property="mName" jdbcType="VARCHAR" />
    <result column="_count" property="count" jdbcType="INTEGER" />
    <result column="bar_id" property="barId" jdbcType="INTEGER" />
    <result column="bar_name" property="barName" jdbcType="VARCHAR" />
    <result column="pc_name" property="pcName" jdbcType="VARCHAR" />
    <result column="is_top" property="isTop" jdbcType="TINYINT"/>
    <result column="m_img" property="mImg" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="postDetail" type="cn.ctide.pet.Model.PostDetail" >
    <id column="p_id" property="pId" jdbcType="INTEGER" />
    <result column="pc_id" property="pcId" jdbcType="INTEGER" />
    <result column="m_id" property="mId" jdbcType="INTEGER" />
    <result column="p_title" property="pTitle" jdbcType="VARCHAR" />
    <result column="p_content" property="pContent" jdbcType="VARCHAR" />
    <result column="p_time" property="pTime" jdbcType="TIMESTAMP" />
    <result column="m_name" property="mName" jdbcType="VARCHAR" />
    <result column="rowno" property="rowno" jdbcType="INTEGER" />
    <result column="bar_id" property="barId" jdbcType="INTEGER" />
    <result column="bar_name" property="barName" jdbcType="VARCHAR" />
    <result column="pc_name" property="pcName" jdbcType="VARCHAR" />
    <result column="r_id" property="rId" jdbcType="INTEGER" />
    <result column="r_ided" property="rIded" jdbcType="INTEGER" />
    <result property="fContent" jdbcType="VARCHAR" column="r_content"></result>
    <result property="fId" jdbcType="INTEGER" column="f_id"></result>
    <result property="fName" jdbcType="VARCHAR" column="f_name"></result>
  </resultMap>

  <sql id="Base_Column_List" >
    p_id, pc_id, m_id, p_title, p_content, p_time, bar_id,is_top
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from post
    where p_id = #{pId,jdbcType=INTEGER}
  </select>
  <select id="getHotPost" resultMap="hotMap">
    SELECT
        _post.*, count(b.r_id) AS _count
    FROM
        (
            SELECT
                a.*, c.m_name,
                d.bar_name,
                e.pc_name
            FROM
                post a,
                master c,
                postbar d,
                postclass e
            WHERE
                d.bar_id = a.bar_id
            AND d.bar_id = a.bar_id
            AND e.pc_id = a.pc_id
            AND c.m_id = a.m_id
        ) _post
    LEFT JOIN reply b ON (b.p_id = _post.p_id)
    WHERE
        <![CDATA[ _post.p_time<=#{pTime} ]]>
    GROUP BY
        _post.p_id
    ORDER BY
        _count DESC,
        _post.p_time DESC
  </select>

  <select id="getMyPosts" resultMap="hotMap">
    select
    a.*,
    c.m_name,
    d.bar_name,
    e.pc_name
    from post a, master c, postbar d, postclass e
    where
    d.bar_id=a.bar_id
		and e.pc_id=a.pc_id
    and c.m_id=#{mId}
    and c.m_id=a.m_id order by a.p_time DESC
  </select>

  <select id="getCollectPost" resultMap="hotMap">
    SELECT
        a.*,c.pc_name,d.bar_name,e.m_name
    FROM
        post a,
        m_p_collect b,
        postclass c,
        postbar d,
        master e
    WHERE
        a.p_id = b.p_id
    AND a.pc_id = c.pc_id
    AND a.bar_id = d.bar_id
    AND e.m_id=a.m_id
    AND a.m_id=#{mId}
  </select>

  <select id="getPostDetail" resultMap="postDetail">
    SELECT
	detail.*, r.r_content,
	r.m_id AS f_id,
	m.m_name as f_name
FROM
	(
		SELECT
			a.*, b.m_name,
			concat(@cur :=@cur + 1) AS rowno
		FROM
			(
				SELECT
					p.*, pc.pc_name,
					pb.bar_name,
					NULL AS r_id,
					NULL AS r_ided
				FROM
					post p,
					postclass pc,
					postbar pb
				WHERE
					p.pc_id = pc.pc_id
				AND p.bar_id = pb.bar_id
				UNION ALL
					SELECT
						r.p_id,
						NULL AS pc_id,
						r.m_id,
						NULL AS p_title,
						r.r_content AS p_content,
						r.r_time AS p_time,
						NULL AS bar_id,
						0 AS is_top,
						NULL AS pc_name,
						NULL AS bar_name,
						r.r_id,
						r.r_ided
					FROM
						reply r
			) a
		LEFT JOIN `master` b ON (a.m_id = b.m_id),
		(SELECT @cur := 0) t
	WHERE
		a.p_id = #{pId}
	ORDER BY
		a.p_time
	) detail
LEFT JOIN reply r ON (detail.r_ided = r.r_id)
LEFT JOIN `master` m ON (r.m_id = m.m_id)
  </select>
  <select id="getBarPost" resultMap="hotMap">
    select a.*, c.m_name,d.pc_name, c.m_img FROM post a, postbar b, `master` c, postclass d
	where a.bar_id=b.bar_id and a.m_id = c.m_id AND a.pc_id=d.pc_id AND a.bar_id = #{barId}
	and a.is_top = #{isTop} order by
	a.p_time desc
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from post
    where p_id = #{pId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.ctide.pet.Model.Post" >
    insert into post (p_id, pc_id, m_id,
    p_title, p_content, p_time,
    bar_id)
    values (#{pId,jdbcType=INTEGER}, #{pcId,jdbcType=INTEGER}, #{mId,jdbcType=INTEGER},
    #{pTitle,jdbcType=VARCHAR}, #{pContent,jdbcType=VARCHAR}, #{pTime,jdbcType=TIMESTAMP},
    #{barId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.ctide.pet.Model.Post" >
    insert into post
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pId != null" >
        p_id,
      </if>
      <if test="pcId != null" >
        pc_id,
      </if>
      <if test="mId != null" >
        m_id,
      </if>
      <if test="pTitle != null" >
        p_title,
      </if>
      <if test="pContent != null" >
        p_content,
      </if>
      <if test="pTime != null" >
        p_time,
      </if>
      <if test="barId != null" >
        bar_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pId != null" >
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="pcId != null" >
        #{pcId,jdbcType=INTEGER},
      </if>
      <if test="mId != null" >
        #{mId,jdbcType=INTEGER},
      </if>
      <if test="pTitle != null" >
        #{pTitle,jdbcType=VARCHAR},
      </if>
      <if test="pContent != null" >
        #{pContent,jdbcType=VARCHAR},
      </if>
      <if test="pTime != null" >
        #{pTime,jdbcType=TIMESTAMP},
      </if>
      <if test="barId != null" >
        #{barId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ctide.pet.Model.Post" >
    update post
    <set >
      <if test="pcId != null" >
        pc_id = #{pcId,jdbcType=INTEGER},
      </if>
      <if test="mId != null" >
        m_id = #{mId,jdbcType=INTEGER},
      </if>
      <if test="pTitle != null" >
        p_title = #{pTitle,jdbcType=VARCHAR},
      </if>
      <if test="pContent != null" >
        p_content = #{pContent,jdbcType=VARCHAR},
      </if>
      <if test="pTime != null" >
        p_time = #{pTime,jdbcType=TIMESTAMP},
      </if>
      <if test="barId != null" >
        bar_id = #{barId,jdbcType=INTEGER},
      </if>
    </set>
    where p_id = #{pId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ctide.pet.Model.Post" >
    update post
    set pc_id = #{pcId,jdbcType=INTEGER},
      m_id = #{mId,jdbcType=INTEGER},
      p_title = #{pTitle,jdbcType=VARCHAR},
      p_content = #{pContent,jdbcType=VARCHAR},
      p_time = #{pTime,jdbcType=TIMESTAMP},
      bar_id = #{barId,jdbcType=INTEGER}
    where p_id = #{pId,jdbcType=INTEGER}
  </update>
</mapper>